
<ion-content [fullscreen]="true" class="ion-padding">
 
 <div class="container-center-form">
  <ion-text color="dark" class="ion-text-center">
    <h1>Breezy Partner App</h1>
    <h4>Login or Create your account</h4>
  </ion-text>
  <form [formGroup]="form" (ngSubmit)="login()" class="ion-padding">
    <ion-input
      type="number"
      label="Enter Mobile Number"
      label-placement="stacked"
      fill="outline"
      placeholder="Enter Mobile Number"
      formControlName="phoneNumber"
      helperText="Please enter 10 digit mobile number"
      counter="true"
     
    ></ion-input>

    <br />
    <ion-item lines="none">
      <ion-label>By Signing In I agree to Terms of use and Privacy Policy.</ion-label>
      <ion-checkbox formControlName="isAgreed" slot="start"></ion-checkbox>
    </ion-item>
    <ion-button
    [disabled]="form.invalid"
      (click)="login()"
      expand="block"
      fill="solid"
     
      mode="ios"
    >
      Send OTP
    </ion-button>
 
  </form>
 </div>
</ion-content>
