<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-title>
     Hello {{restaurantName}}
    </ion-title>
    <ion-button fill="clear" slot="end" (click)="openPage('notifications')">
      <ion-icon slot="icon-only" name="notifications-outline"></ion-icon>
    </ion-button>
    <ion-button fill="clear" slot="end" (click)="openPage('hotel')">
      <ion-icon slot="icon-only" name="business-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-grid fixed>
    <ion-row>
      <ion-col size="6">
        <ion-card>
          <div class="card-container">
            <img src="assets/today.png" alt="">
            <p class="count"> {{todaysOrders || 0}} </p>
            <p class="sub-header">Today's Orders</p>
          </div>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card>
          <div class="card-container">
            <img src="assets/monthly.png" alt="">
            <p class="count"> {{monthlyOrders || 0}} </p>
            <p class="sub-header">Monthly Orders</p>
          </div>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <ion-card>
          <div class="card-container">
            <img src="assets/stock.png" alt="">
            <p class="count"> {{dishInStock || 0}} </p>
            <p class="sub-header">Stock Products</p>
          </div>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card>
          <div class="card-container">
            <img src="assets/ofs.png" alt="">
            <p class="count"> {{dishOutOfStock || 0}} </p>
            <p class="sub-header">Out of Stock Products</p>
          </div>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <br>
  
  <ion-card fill="outline" routerLink="/products">
    <ion-item detail>
    <ion-icon name="add" slot="start"></ion-icon>

      <ion-label>Add Products</ion-label>
    </ion-item>
  </ion-card>
 
  <ion-card fill="outline" routerLink="/rejected-orders">
    <ion-item detail>
    <ion-icon name="ban-outline" slot="start"></ion-icon>

      <ion-label>Rejected Orders</ion-label>
    </ion-item>
  </ion-card>

 
</ion-content>
