<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-title>
     Hello {{restaurantName}}
    </ion-title>
    <ion-button fill="clear" slot="end" (click)="openPage('notifications')">
      <ion-icon slot="icon-only" name="notifications-outline"></ion-icon>
    </ion-button>
    
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" >
  <ion-grid >
    <ion-row>
      <ion-list-header>
        <ion-label>Dashboard</ion-label>
        <ion-button>View All</ion-button>
      </ion-list-header>
      <ion-col size="6">
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>Total Orders</ion-card-subtitle>
            <ion-card-title>{{totalOrders || 0}}</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>

      <ion-col size="6">
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>Todays Orders</ion-card-subtitle>
            <ion-card-title>{{todaysOrders|| 0}}</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>

      <ion-col size="12">
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>Monthly Revenue</ion-card-subtitle>
            <ion-card-title>{{monthlyRevenue || 0}}</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="12">
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>Weekly revenue</ion-card-subtitle>
            <ion-card-title>{{weeklyRevenue || 0}}</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <br>
  
  <ion-list-header>
    <ion-label>Actions</ion-label>
  </ion-list-header>
  <ion-card fill="outline" routerLink="/products">
    <ion-item detail>
    <ion-icon name="add" slot="start"></ion-icon>

      <ion-label>Add Services</ion-label>
    </ion-item>
  </ion-card>
 
  <!-- <ion-card fill="outline" routerLink="/rejected-orders">
    <ion-item detail>
    <ion-icon name="ban-outline" slot="start"></ion-icon>

      <ion-label>Rejected Orders</ion-label>
    </ion-item>
  </ion-card> -->

 
</ion-content>
