<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-title>Register your Hotel</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
 <form [formGroup]="form" (ngSubmit)="onSubmit()" class="ion-margin-top">
 <ion-input type="text" formControlName="hotelName" label="Hotel Name" labelPlacement="stacked" fill="outline" placeholder="Enter your hotel name"></ion-input>
  <br>

 <ion-input type="text" formControlName="address" label="Hotel Address" labelPlacement="stacked" fill="outline" placeholder="Enter Complete hotel address"></ion-input>
  <br>
  <ion-item>
    <ion-label>Category</ion-label>
    <ion-select formControlName="categoryId"  multiple="true" placeholder="Select here" interface="popover">
      <ion-select-option *ngFor="let cat of categories" [value]="cat._id">{{cat.name}}</ion-select-option>
    </ion-select>
  </ion-item>

  <br>
 <ion-button size="large" expand="block" color="primary" type="submit" [disabled]="form.invalid">
    Next
  </ion-button>
 </form>



 <ion-modal [isOpen]="isHotelImageUploadModalOpen" [initialBreakpoint]="0.75" [breakpoints]="[0, 0.25, 0.5, 0.75]">
  <ng-template>
    <ion-header class="ion-no-border">
      <ion-toolbar>
        <ion-title>Upload a Hotel Image</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="setOpen(false)">Close</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
    <div class="image-upload-container">
      <input #f hidden type="file" name="" (change)="uploadImage($event)" id="">
      <ion-button (click)="f.click()" expand="block" fill="outline" shape="round">
        Select and Upload
      </ion-button>
    </div>
    </ion-content>
  </ng-template>
</ion-modal>
</ion-content>
