<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-title class="ion-text-center">
    Products
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
 
  <ion-list>
    <ion-list-header>
      <ion-label>All Your Products</ion-label>
    </ion-list-header>
  </ion-list>

  
  <ion-accordion-group>
    <ion-accordion value="first">
      <ion-item slot="header" color="light">
        <ion-label>Product CAtegory</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <ion-item>
          <ion-avatar slot="start">
            <img src="image" />
          </ion-avatar>
          <ion-label>Paneer Tikka
            <p> Biryani </p>
            <p> 200 </p>
          </ion-label>
          <!-- <ion-button fill="clear" slot="end" (click)="edit()">
            <ion-icon slot="icon-only" name="pencil"></ion-icon>
          </ion-button> -->
        </ion-item>
      </div>
    </ion-accordion>
  </ion-accordion-group>
</ion-content>
