<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-title>All Notifications</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
 <ion-list>
  <ion-list-header>
    <ion-label>All recent Notifications</ion-label>
  </ion-list-header>

 
 </ion-list>

 <ion-text color="primary" class="ion-text-center">
  <h1>No New Notifications!</h1>
 </ion-text>
</ion-content>
