<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-title class="ion-text-center">Register to DropEat</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref=""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <form [formGroup]="form">
    <ion-text
      color="dark"
      class="ion-text-center animate__animated animate__fadeIn"
    >
      <h1 class="poppins-semibold">Sign up</h1>
    </ion-text>
    <br />
    <img class="ion-text-center" src="assets/logo.svg" alt="" srcset="">
    <ion-input
      class="animate__animated animate__fadeIn"
      color="medium"
      labelPlacement="stacked"
      label="Full name"
      placeholder="Robin"
      fill="outline"
      type="text"
      formControlName="name"
    >
      <ion-icon
        color="primary"
        slot="start"
        name="mail-outline"
        aria-hidden="true"
      ></ion-icon>
    </ion-input>
    <br />
    <ion-input
      class="animate__animated animate__fadeIn"
      color="medium"
      labelPlacement="stacked"
      label="Phone No"
      placeholder="+91XXXXXXXXXX"
      fill="outline"
      type="number"
      formControlName="phoneNumber"
    >
      <ion-icon
        color="primary"
        slot="start"
        name="call-outline"
        aria-hidden="true"
      ></ion-icon>
    </ion-input>
    <br />
    <ion-input
      class="animate__animated animate__fadeIn"
      color="medium"
      labelPlacement="stacked"
      label="Email"
      placeholder="email@domain.com"
      fill="outline"
      type="email"
      formControlName="email"
    >
      <ion-icon
        color="primary"
        slot="start"
        name="mail-outline"
        aria-hidden="true"
      ></ion-icon>
    </ion-input>

    <br />
    <ion-input
      class="animate__animated animate__fadeIn"
      color="medium"
      labelPlacement="stacked"
      label="Password"
      type="password"
      fill="outline"
      formControlName="password"
    >
      <ion-icon
        color="primary"
        slot="start"
        name="lock-closed-outline"
        aria-hidden="true"
      ></ion-icon>
      <ion-button fill="clear" slot="end" aria-label="Show/hide">
        <ion-icon
          slot="icon-only"
          name="eye-outline"
          aria-hidden="true"
        ></ion-icon>
      </ion-button>
    </ion-input>
   

    <br />

    <button
      fill="clear"
      [disabled]="form.invalid"
      (click)="register()"
      class="button-primary"
    >
      Register
    </button>

    <br />
  </form>
</ion-content>
